* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
/* immagine b */
.product-image-b {
    display: none;
}

.product-display:hover .product-image-b {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*header*/ /*placeholder*/

header section {
    
    background-color: #FF6901;
   /* position: fixed;*/
}


header .container {
    min-height: 40px;
}

ul {
    list-style: none;
    display: flex;
}

.col-4 li {
    padding-top: 10px;
    padding-left: 5px;

}

.col-4 a {
    text-decoration: none;
    color: white;
}

.col-4 img {
    width: 150px;
    display: block;
    
}

.col-4 {
    flex-basis: calc(100% / 3);
}



/*main*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    
}

.product-box {
    flex-basis: calc(100% / 3);
    padding: 25px 10px;
}

.product-display {
    position: relative;
}

.heart {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
}

.heart:hover {
    color: red;
}

.red-label {
    display: block;
    position: absolute;
    background-color: red;
    left: 0px;
    bottom: 40px;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0 5px;
}

.green-label {
    display: block;
    position: absolute;
    background-color: green;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0 5px;
    bottom: 40px;
    left: 43px;
}

.green-label-only {
    left: 0px;
    display: block;
    position: absolute;
    background-color: green;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0 5px;
    bottom: 40px;
}

.product-info {
    position: relative;
}

.brand {
  display: block;
  font-size: 14px;  
}

.pruduct-title {
    display: block;
    font-weight: 600;
}

.pricetag {
    color: red;
}

.discount {
    text-decoration: line-through;
}
/*footer*/ /*placeholder*/

footer section {
    min-height: 60px;
    background-color: #1A1A1A;
    width: 100%;
}
