* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
/*header*/ /*placeholder*/

header section {
    min-height: 60px;
    background-color: #FF6901;
   /* position: fixed;*/
    width: 100%;
}

/*main*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    
}

.product-box {
    flex-basis: calc(100% / 3);
    padding: 50px 10px;
    position: relative;
}

.heart {
    display: block;
    position: absolute;
    top: 60px;
    right: 10px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
}

.heart:hover {
    color: red;
}

/*footer*/ /*placeholder*/

footer section {
    min-height: 60px;
    background-color: #1A1A1A;
    width: 100%;
}
