* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
/*header*/ /*placeholder*/

header section {
    min-height: 60px;
    background-color: #FF6901;
    position: fixed;
    width: 100%;
}

/*main*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.product-box {
    flex-basis: calc((100% / 3) - 40px);
}

/*footer*/ /*placeholder*/

footer section {
    min-height: 60px;
    background-color: #1A1A1A;
    width: 100%;
}
